@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-texture {
    background-color: #F2F0E9;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Borde org치nico para fotos de perfil */
.organic-border {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 0.5s ease-in-out;
}
.organic-border:hover {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
}

/* Animaci칩n de flotaci칩n para el bot칩n de WhatsApp */
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.animate-float {
    animation: float 4s ease-in-out infinite;
}
.animate-float:hover {
    animation-play-state: paused; /* Se detiene al pasar el mouse para facilitar el click */
}
